%form.form-inline
  %select.chzn-select{id:'tweet_accounts',:'data-placeholder' => "Choose an account..."}
    %option Something
    %option 1
    %option 2
    %option 3
  %input.input{type:'text', id:'tweet'}
  %input.input{type:'text', id:'tweet_time'}
  %button.btn.btn-primary{type:'submit'} Tweet